<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html lang="en"><!--<![endif]-->
<head>

	<!---------for refesh once on first-->
	<script type='text/javascript'>
		(function()
		{
			

		  if( window.localStorage )
		  {
			if( !localStorage.getItem('firstLoad') )
			{
			  localStorage['firstLoad'] = true;
			  window.location.reload();
			}  
			else
			
			  localStorage.removeItem('firstLoad');
		  }
		})();
		
		</script>

	<!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
		content="IE=edge">
  <meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	<title>Design Bee Studio</title>

	

	

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" type="text/css" href="css/base.css"/>
	<link rel="stylesheet" type="text/css" href="css/skeleton.css"/>
	<link rel="stylesheet" type="text/css" href="css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="css/colorbox.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.custombox.css">
	<link rel="stylesheet" type="text/css" href="css/YTPlayer.css">
	<link rel="stylesheet" type="text/css" href="css/retina.css"/>

	<link rel="alternate stylesheet" type="text/css" href="css/colors/color-orange.css" title="orange">
    <link rel="alternate stylesheet" type="text/css" href="css/colors/color-green.css" title="green">
    <link rel="alternate stylesheet" type="text/css" href="css/colors/color-red.css" title="red">
    <link rel="alternate stylesheet" type="text/css" href="css/colors/color-blue.css" title="blue">
    <link rel="alternate stylesheet" type="text/css" href="css/colors/color-yellow.css" title="yellow">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script type="text/javascript" src="js/jquery.js"></script>	

	
	<script>
		//$(document).ready(function(){
    	//	
        //		$("#allworksbutton")[0].click();
    	//	
		//});

		
		    //$('#allworksbutton').click()

			$(document).ready(function(){

				setTimeout(function(){

					$('#allworksbutton').click();


				},1000);

			});
			
		
	</script>

    <!--[if lte IE 8]>
        <script src="js/html5.js"></script>
    <![endif]-->		
		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">


</head>
<body>

	
	
	<!-- Primary Page Layout
	================================================== -->
	<div id="preloader"></div>
	
	<div id="menu-wrap">
		<div class="logo"></div>
		<ul class="slimmenu">
			<!--<li> 
				<a href="#home" class="scroll">home</a>
			</li>-->
			<li>
				<a href="#folio" class="scroll">portfolio</a>
			</li>
			<li> 
				<a href="#services" class="scroll">How we work?</a>
			</li>
			<li>
				<a href="/blog_user">blog</a>
			</li>
			<li>
				<a href="#contact" class="scroll">Drop Us a Line</a>
			</li>
			<!--<li>
				<a href="#about" class="scroll">about</a>
			</li>-->
			
		</ul>
	</div>	
	


	
		<div id="home"> 
			<div class="background-grid"></div>
			<div id="homepage_video">
				<!--<a id='P2' class='player' data-property='{videoURL:"https://www.youtube.com/watch?v=2UizPYNGEE8",containment:"#home",autoPlay:true, mute:true, startAt:4, loop:true, opacity:1}'></a>-->
			</div>
			
			
			
			<div class="home-text" >
				<div id="home-text-top">

				</div>

				<div class="rotator">
					<div id="home-text1"><!--<h1>BORN INTO <span>CREATIVITY</span></h1>--></div>
					<div id="home-text2"><!--<h1>FOCUSED ON <span>STRATEGY</span></h1>--></div>
					<div id="home-text3"><!--<h1>INSPIRED BY <span>Design Bee Solution</span></h1>--></div>
				</div>

				<!--<p><span>A PORTAL TO THE LAND OF YOUR DREAMS</span></p>
				<div class="rotator">
					<div><h1>BORN INTO <span>CREATIVITY</span></h1></div>
					<div><h1>FOCUSED ON <span>STRATEGY</span></h1></div>
					<div><h1>INSPIRED BY <span>Design Bee Solution</span></h1></div>
				</div>-->
				<div class="link-home"><div class="cl-effect-14"><a href="#folio" class="scroll">Explore Our Portfolio</a></div></div>

				
				
		 	</div>
		</div>

		



		
		<!--<div id="about"> 
			<div class="container">
				<div class="sixteen columns"> 
					<h1>About Us</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
				<div class="sixteen columns"> 
					<p>We're a close team of creatives, designers & developers who work together to create beautiful, engaging digital experiences. We take pride in delivering only the best.</p> 
				</div>
			</div>
			<div class="container">
				<div id="about-img-wrap">
					<div class="slider1"> 
						<div class="slide"> 
							<div class="eight columns"> 
								<img src="images/office1.gif" alt=""/>
							</div>
							<div class="eight columns"> 
								<img src="images/office2.gif" alt=""/>
							</div> 
						</div>
						<div class="slide"> 
							<div class="eight columns"> 
								<img src="images/office3.gif" alt=""/>
							</div>
							<div class="eight columns"> 
								<img src="images/office4.gif" alt=""/>
							</div> 
						</div>
					</div> 
				</div>
			</div>
			<div id="team">
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Meet The Team</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
				</div>
				<div class="container">
					<ul class="slider2"> 
						<li> 
							<div class="eight columns"> 
								<div class="team-wrap"> 
									<div class="social-team text-align-left">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-left">James Bean</h5>
									<img src="images/team1.png" alt=""/>
									<p><span>CEO Founder</span></p>
								</div>
							</div>
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-right">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-right">Isabella Moro</h5>
									<img src="images/team2.png" alt=""/>
									<p><span>Web Designer</span></p>
								</div>
							</div> 
						</li>
						<li> 
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-left">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-left">Caroline Smith</h5>
									<img src="images/team3.png" alt=""/>
									<p><span>Web Marketing</span></p>
								</div>
							</div>
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-right">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-right">David Ive</h5>
									<img src="images/team4.png" alt=""/>
									<p><span>Developer</span></p>
								</div>
							</div> 
						</li>
					</ul>
				</div>
			</div>
			<div id="skills">
				<div class="parallax"></div>
				<div class="background-grid"></div>
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Our Skills</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
					<div class="eight columns"> 
        				<ul class="skill">
        					<li><span class="bar bar-prc1"></span><p>Css</p></li>
        					<li><span class="bar bar-prc2"></span><p>jQuery</p></li>
        					<li><span class="bar bar-prc3"></span><p>Wordpress</p></li>
        				</ul>
					</div>
					<div class="eight columns">
        				<ul class="skill">
        					<li><span class="bar bar-prc4"></span><p>Graphic Design</p></li>
        					<li><span class="bar bar-prc5"></span><p>Html</p></li>
        					<li><span class="bar bar-prc6"></span><p>MoTools</p></li>
        				</ul> 
					</div>
				</div>	
			</div>
		</div>-->


		<div id="folio">
			<div class="container">
				<div class="sixteen columns"> 
					<h1>Portfolio</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
			</div>	
			<div class="clear"></div>
			<div class="container">
				<div class="sixteen columns">
					<div id="portfolio-filter">
						<ul id="filter">
							<li style="margin-top: 10px;"><div class="cl-effect-14"><a id="allworksbutton" href="#" class="current" data-filter="*" title="">Show all projects</a></div></li>
							<li style="margin-top: 10px;"><div class="cl-effect-14"><a href="#" data-filter=".photography" title="">Housing Projects</a></div></li>
							<li style="margin-top: 10px;"><div class="cl-effect-14"><a href="#" data-filter=".illustration" title="">Commercial Projects</a></div></li>
						</ul>
					</div>
				</div>
			</div> 
			<div class="clear"></div>
			<div class="container">
				
			<div class="all-works" id="all-works">
				<!--<div class="one-third column one-work photography web-design">	
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="https://designbeestudio.in/3333_picture.jpg" alt=""/>
					</a>			
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="/project" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/2.png" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/3.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="/project" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/4.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/5.png" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics illustration">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/6.png" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/7.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work web-design">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/8.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/9.png" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics web-design">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/10.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography motion-graphics">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/11.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/12.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="/project" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/15.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/17.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work web-design">
					<a class='iframe group1'  href="/project" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/13.jpg" alt=""/>
					</a>
				</div>-->

				<div id="work0" class="one-third column one-work web-design"></div>
				<div id="work1" class="one-third column one-work web-design"></div>
				<div id="work2" class="one-third column one-work web-design"></div>
				<div id="work3" class="one-third column one-work web-design"></div>
				<div id="work4" class="one-third column one-work web-design"></div>
				<div id="work5" class="one-third  one-work web-design"></div>
				<div id="work6" class="one-third  one-work web-design"></div>
				<div id="work7" class="one-third  one-work web-design"></div>
				<div id="work8" class="one-third  one-work web-design"></div>
				<div id="work9" class="one-third  one-work web-design"></div>
				<div id="work10" class="one-third  one-work web-design"></div>
				<div id="work11" class="one-third  one-work web-design"></div>
				<div id="work12" class="one-third  one-work web-design"></div>
				<div id="work13" class="one-third  one-work web-design"></div>
				<div id="work14" class="one-third  one-work web-design"></div>
				<div id="work15" class="one-third  one-work web-design"></div>
				<div id="work16" class="one-third  one-work web-design"></div>
				<div id="work17" class="one-third  one-work web-design"></div>
				<div id="work18" class="one-third  one-work web-design"></div>
				<div id="work19" class="one-third  one-work web-design"></div>
				

				
			</div>

			
			</div>
		</div>


		<div id="services"> 
			<div class="container">
				<div class="sixteen columns"> 
					<h1>How we work?</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
				<!--<div class="sixteen columns"> 
					<p>We tackle business problems with intelligence. We use cutting-edge tech and cutting-edge thinking to bring brands to life online and direct consumer behaviour.</p> 
				</div>-->
			</div>
			<div id="services-wrapper">
				<div  class="container">
					<div class="four columns"> 
						<div class="services-wrap"> 
							<div class="services-wrap-icon"> 
								<img src="images/ser2.png" alt=""/>
							</div> 
							<div id="HWW_title">
								<!--<h6>Responsive Design</h6>-->
							</div>
							<div id="#">
							   <!--<h6>Responsive Design</h6>
							   <p>Class aptent taciti sociosqu ad litora torquent.</p>-->
							   <a href="#modal" class="list-group-item" id="fall"><p>more</p></a>
							</div>
						</div>
					</div>
					<div class="four columns"> 
						<div class="services-wrap">  
							<div class="services-wrap-icon"> 
								<img src="images/ser3.png" alt=""/>
							</div>
							<div id="HWW_title1">
								<!--<h6>Responsive Design</h6>-->
							</div>
							<div id="#">
								<!--<h6>Responsive Design</h6>
								<p>Class aptent taciti sociosqu ad litora torquent.</p>-->
								<a href="#modal1" class="list-group-item" id="sidefall"><p>more</p></a>
							 </div>
						</div>
					</div>
					<div class="four columns"> 
						<div class="services-wrap">  
							<div class="services-wrap-icon">
								<img src="images/ser5.png" alt=""/> 
							</div>
							<div id="HWW_title2">
								<!--<h6>Responsive Design</h6>-->
							</div>
							<div id="#">
								<!--<h6>Responsive Design</h6>
								<p>Class aptent taciti sociosqu ad litora torquent.</p>-->
								<a href="#modal2" class="list-group-item" id="fall1"><p>more</p></a>
							 </div>
						</div>
					</div>
					<div class="four columns"> 
						<div class="services-wrap">  
							<div class="services-wrap-icon"> 
								<img src="images/ser8.png" alt=""/>
							</div>
							<div id="HWW_title3">
								<!--<h6>Responsive Design</h6>-->
							</div>
							<div id="#">
								<!--<h6>Responsive Design</h6>
								<p>Class aptent taciti sociosqu ad litora torquent.</p>-->
								<a href="#modal3" class="list-group-item" id="slide"><p>more</p></a>
							 </div>
						</div>
					</div>

					<!--Add main points of how they work-->
						<!--<div class="row">
							<div class="col-sm-6">
								<div style="max-height:100%; max-width:100%; border-color: black;">
									Design Bee
								</div>
							</div>
							<div class="col-sm-6">
								<div style="max-height:100%; max-width:100%; border-color: black;">
									Hello world
								</div>
							</div>
						</div>-->
					<!--End main points of hoe they work-->

				</div>
			</div>
			<!--<div id="clients">
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Clients</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>	
				</div>
				<div class="container">
					<div class="clients-wrap">
						<ul class="slider4"> 
							<li>
								<div class="four columns">
									<img src="images/logo/1.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/2.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/3.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/4.png" alt=""/>	
								</div>
							</li> 
							<li>
								<div class="four columns">
									<img src="images/logo/5.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/6.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/7.png" alt=""/>	
								</div>
								<div class="four columns">
									<img src="images/logo/8.png" alt=""/>	
								</div>
							</li>
						</ul> 
					</div>
				</div>				
			</div>-->
			<!--<div id="testimonials">
				<div class="parallax2"></div>
				<div class="background-grid"></div>
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Testimonials</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
					<div class="sixteen columns"> 
						<ul class="slider3"> 
							<li>
								<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h6>Pellentesque egestas ornare sagittis. Sed augue lorem, dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</h6>			
									<p><span>John Doe, Utcrayons General director</span></p>
								</div> 
							</li> 
							<li>
								<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h6>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</h6>			
									<p><span>Caroline Smith, Imperio General director</span></p>
								</div> 
							</li>
						</ul> 
					</div>
				</div>	
			</div>-->
		</div>

		

		<div id="testimonials">
				<div class="parallax"></div>
				<div class="background-grid"></div>
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Reviews</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
					<div class="sixteen columns"> 
						<ul class="slider3">
							<li id="review0">
								<!--<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h3>Very nice work. Very much satisfied.</h3>
								<br>
									
									<h3><p><span>Sandeep Sinha</span></p></h3>
								</div>-->
							</li> 
							<li id="review1">
								
							</li>
							<li id="review2">
								
							</li>
							<li id="review3">
								
							</li>
						</ul> 
					</div>
				</div>	
			</div>

		<div id="about"> 
			<div class="container">
				<div class="sixteen columns"> 
					<h1>About Us</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
			</div>
				<div id="aboutus" class="sixteen columns" style="background-image:url(https://designbeestudio.in/aboutus_picture.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; padding-left: 30px; padding-right: 30px;"> 
					<!--<p>
						A home is indeed a place we return to at the end of the day and feel safe and sound from whatever is lingering in the outside world.
						Everyone wants this <b style="font-weight: bolder;">SAFE HAVEN</b> of theirs to be just like what they dreamt of. 
					</p>
					<br>
					<p>
						We believe that your home can be the portal to the land of your dreams. It is this belief that lets us help you redefine
						your experiences in your home. We exist to make your dream home come true.
					</p>
					<br>
					<p>
						We are one of the topmost interior designing companies in Kolkata, 
						and we are offering you the top-notch service that you have always been searching for. 
						Our objective is to transform your home into the wonderland of your desires. 
						Our expert panel of designers and architects are the storytellers who narrate the legends 
						and sagas of your life through the interior design of your home. 
					</p>
					<br>
					<p>
						At <b style="font-weight: bolder;">Design Bee Studios</b>, you choose, we execute. 
						We make sure that our designs align with your personality 
						and aesthetics that combine to create a living space of your 
						desires. We also customise our services according to what you 
						need and what you want. Our customer-centric goals provide you 
						with the liberty to make alterations in the plans and personalise 
						your entire experience. 
					</p>
					<br>
					<p>
						We assure the usage of top quality materials in the market because your 
						satisfaction is our ultimate goal. Also, to maintain a sustainable relationship, 
						we can assist you with service and advice in the years to come. 
					</p>-->
				</div>
			
			<!--<div class="container">
				<div id="about-img-wrap">
					<div class="slider1"> 
						<div class="slide"> 
							<div class="eight columns" style="background-image: url(images/office1.gif);"> 
								111111
							</div>
							<div class="eight columns" style="background-image: url(images/office2.gif);"> 
								2222222
							</div> 
						</div>
						<div class="slide"> 
							<div class="eight columns" style="background-image: url(images/office3.gif);"> 
								333333
							</div>
							<div class="eight columns" style="background-image: url(images/office4.gif);"> 
								44444444
							</div> 
						</div>
					</div> 
				</div>
			</div>-->
			<!--<div id="team">
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Meet The Team</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
				</div>
				<div class="container">
					<ul class="slider2"> 
						<li> 
							<div class="eight columns"> 
								<div class="team-wrap"> 
									<div class="social-team text-align-left">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-left">James Bean</h5>
									<img src="images/team1.png" alt=""/>
									<p><span>CEO Founder</span></p>
								</div>
							</div>
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-right">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-right">Isabella Moro</h5>
									<img src="images/team2.png" alt=""/>
									<p><span>Web Designer</span></p>
								</div>
							</div> 
						</li>
						<li> 
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-left">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-left">Caroline Smith</h5>
									<img src="images/team3.png" alt=""/>
									<p><span>Web Marketing</span></p>
								</div>
							</div>
							<div class="eight columns">  
								<div class="team-wrap">
									<div class="social-team text-align-right">
										<ul class="list-social">
											<li class="icon-soc"><a href="#">&#xf099;</a></li>
											<li class="icon-soc"><a href="#">&#xf09a;</a></li>
											<li class="icon-soc"><a href="#">&#xf09b;</a></li>
											<li class="icon-soc"><a href="#">&#xf0d5;</a></li>
										</ul>	
									</div> 
									<h5 class="text-align-right">David Ive</h5>
									<img src="images/team4.png" alt=""/>
									<p><span>Developer</span></p>
								</div>
							</div> 
						</li>
					</ul>
				</div>
			</div>
			<div id="skills">
				<div class="parallax"></div>
				<div class="background-grid"></div>
				<div class="container">
					<div class="sixteen columns"> 
						<h3>Our Skills</h3>
					</div>
					<div class="sixteen columns"> 
						<div class="sep1"></div> 
					</div>
					<div class="eight columns"> 
        				<ul class="skill">
        					<li><span class="bar bar-prc1"></span><p>Css</p></li>
        					<li><span class="bar bar-prc2"></span><p>jQuery</p></li>
        					<li><span class="bar bar-prc3"></span><p>Wordpress</p></li>
        				</ul>
					</div>
					<div class="eight columns">
        				<ul class="skill">
        					<li><span class="bar bar-prc4"></span><p>Graphic Design</p></li>
        					<li><span class="bar bar-prc5"></span><p>Html</p></li>
        					<li><span class="bar bar-prc6"></span><p>MoTools</p></li>
        				</ul> 
					</div>
				</div>	
			</div>-->
		</div>
		
		<div id="contact">
			<div id="contact-details">
				<div class="container">
					<div id="contact-mes">
						<div class="container">
							<div class="sixteen columns"> 
								<h3>Drop Us a Line</h3>
							</div>
							<div class="sixteen columns"> 
								<div class="sep1"></div> 
							</div>
						</div>
						<div class="container">
							<div class="sixteen columns">
								<form name="ajax-form" id="ajax-form" action="/add/contact" method="post">
									<label for="name">Name: * 
										<span class="error" id="err-name">please enter name</span>
									</label>
									<input name="name" id="name" type="text" />
									<label for="email">E-Mail: * 
										<span class="error" id="err-email">please enter e-mail</span>
										<span class="error" id="err-emailvld">e-mail is not a valid format</span>
									</label>
									<input name="email" id="email" type="text" />
									<label for="message">Message:</label>
									<textarea name="message" id="message"></textarea>
									<button class="send_message" id="send">Submit</button>
									<div class="error" id="err-form">There was a problem validating the form please check!</div>
									<div class="error" id="err-timedout">The connection to the server timed out!</div>
									<div class="error" id="err-state"></div>
								</form>
								<div id="ajaxsuccess">Successfully sent!!</div>	
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contact1"> 
			<div class="container">
				<div class="sixteen columns"> 
					<h1>Keep In Touch</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
			</div>
			<div class="container">
				<style>
					.checked {
					  color: orange;
					}
				</style>
				<div>
					<iframe 
						src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7365.732405295879!2d88.453937!3d22.621471!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2b178268c916861!2sPS%20QUBE!5e0!3m2!1sen!2sin!4v1620142382949!5m2!1sen!2sin" 
						height="300px" 
						width="100%" 
						loading="lazy"
						class="eight columns">
					</iframe>
					<div class="eight columns">
						<h3>Design Bee Studio - Premium Interior Designer in Kolkata</h3>
						<br>
						<p>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span> 20 Google reviews
						</p>
						<br>
						<p>Interior designer in West Bengal</p>
						<br>
						<p style="font-size: larger;"><a href="https://goo.gl/maps/smzqRrzKkmdQ8qos7">Direction&nbsp;<i class="fa fa-arrow-circle-right"></i></a></p>
					</div>
				</div>
				<div class="clear" style="margin-bottom: 20px;"></div>
			</div>
		</div>
			<div class="footer">
				<div class="container">
					<div class="sixteen columns"> 
						<a href="#home" class="scroll"><img src="images/logo.png" alt="" style="height: 160px; width: 200px;"/></a>
					</div>
					<div class="sixteen columns"> 
						<!--<p><span>© Vulcan - a HTML 5 template with serious impact. Created by</span> IG Design</p>-->
					</div>
					
					<div class="one four columns"> 
						<div class="icon-contact">&#xf015;</div>
						<div class="detail" id="address-text"> 
							
						</div>
					</div>	
					<div class="one four columns">
						<div class="icon-contact">&#xf095;</div>	
						<div class="detail" id="contact-text"> 
							
						</div>
					</div>	
					<div class="one four columns"> 
						<div class="icon-contact">&#xf003;</div>
						<div class="detail" id="email-text">
							
						</div>
					</div>
					<div class="one four columns">
						<ul class="bottom-social">
							<li class="icon-bottom"><a href="https://instagram.com/design_bee_studio?igshid=1j74hmzi0tdl6" style="font-size: 20px;">&#xf16d;</a></li>
							<li class="icon-bottom"><a href="https://www.facebook.com/designbeestudio.in" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&#xf09a;</a></li>
							<li class="icon-bottom"><a href="https://www.youtube.com/channel/UCQrTeF2PCVY2ab-5ArBDXHg/featured" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&#xf167;</a></li>
							<!--<li class="icon-bottom"><a href="#">&#xf09b;</a></li>
							<li class="icon-bottom"><a href="#">&#xf0d5;</a></li>-->
						</ul>	
					</div> 	
				</div>	
			</div>		
		
		

		<!--<div id="blog"> 
			<div class="parallax3"></div>
			<div class="background-color"></div>
			<div class="container">
				<div class="sixteen columns"> 
					<h3>Blog</h3>
				</div>
				<div class="sixteen columns"> 
					<div class="sep1"></div> 
				</div>
			</div> 
			<div id="blog-slide" class="owl-carousel owl-theme">
			<div class="blog-wrap">
				<div class="container">
					<div class="eight columns">	
						<img src="images/gallery/8.jpg" alt=""/>
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>07.11.</span></div>
						<h6>Post With Image</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">image</a><a href="#">design</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap">
				<div class="container">
					<div class="eight columns">	
						<ul class="slider5"> 
							<li>
								<img src="images/gallery/12.jpg" alt=""/>	
							</li> 
							<li>
								<img src="images/gallery/13.jpg" alt=""/>	
							</li>
							<li>
								<img src="images/gallery/7.jpg" alt=""/>	
							</li>
						</ul> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>02.11.</span></div>
						<h6>Post With Slider</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">image</a><a href="#">design</a><a href="#">slider</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap">
				<div class="container">
					<div class="eight columns">
						<div class="media">
							<iframe src="http://player.vimeo.com/video/18130984?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=000000" ></iframe>
						</div> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>26.10.</span></div>
						<h6>Post With Video</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">video</a><a href="#">design</a><a href="#">photo</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap">
				<div class="container">
					<div class="eight columns">	 
						<div class="media-audio">
							<iframe src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F67943430"></iframe> 
						</div> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>20.10.</span></div>
						<h6>Post With Audio</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">audio</a><a href="#">music</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="sixteen columns"> 
						<a href="#home" class="scroll"><img src="images/logo.png" alt="" style="height: 100px; width: 100px;"/></a>
					</div>
					<div class="sixteen columns"> 
						<p><span>© Vulcan - a HTML 5 template with serious impact. Created by</span> IG Design</p>
					</div>
					<div class="sixteen columns"> 
						<div class="social-bottom">
							<ul class="bottom-social">
								<li class="icon-bottom"><a href="#">&#xf099;</a></li>
								<li class="icon-bottom"><a href="#">&#xf09a;</a></li>
								<li class="icon-bottom"><a href="#">&#xf09b;</a></li>
								<li class="icon-bottom"><a href="#">&#xf0d5;</a></li>
							</ul>	
						</div> 
					</div>
				</div>	
			</div>
		</div>-->

	
	
		<div id="modal" style="display: none;" class="modal-example-content">
			<button type="button" class="close" onclick="$.fn.custombox('close');">&times;</button>
			<div class="container">
				<div class="sixteen columns">
					<div class="services-wrap">  
						<div class="services-wrap-icon">
							<img src="images/ser2.png" alt=""/> 
						</div>		
					</div>
					<div id="HWW_title_modal">
						<!--<h6>Responsive Design</h6>-->
					</div>
				</div>
				<div class="sixteen columns">
					<div class="modal-example-body">  
						<div id="how_we_work">
							<!--<h6>Responsive Design</h6>
							<p>Class aptent taciti sociosqu ad litora torquent.</p>-->
						</div>				
					</div>	
				</div>
			</div>
		</div>	
		
		
		
		
		
		<div id="modal1" style="display: none;" class="modal-example-content">
			<button type="button" class="close" onclick="$.fn.custombox('close');">&times;</button>
			<div class="container">
				<div class="sixteen columns">
					<div class="services-wrap">  
						<div class="services-wrap-icon">
							<img src="images/ser2.png" alt=""/> 
						</div>		
					</div>
					<div id="HWW_title1_modal">
						<!--<h6>Responsive Design</h6>-->
					</div>
				</div>
				<div class="sixteen columns">
					<div class="modal-example-body">  
						<div id="how_we_work1">
							<!--<h6>Responsive Design</h6>
							<p>Class aptent taciti sociosqu ad litora torquent.</p>-->
						</div>				
					</div>	
				</div>
			</div>
		</div>
		
		
		
		
		<div id="modal2" style="display: none;" class="modal-example-content">
			<button type="button" class="close" onclick="$.fn.custombox('close');">&times;</button>
			<div class="container">
				<div class="sixteen columns">
					<div class="services-wrap">  
						<div class="services-wrap-icon">
							<img src="images/ser5.png" alt=""/> 
						</div>		
					</div>
					<div id="HWW_title2_modal">
						<!--<h6>Responsive Design</h6>-->
					</div>
				</div>
				<div class="sixteen columns">
					<div class="modal-example-body">
						<div id="how_we_work2">
	
						</div>  
					</div>	
				</div>
			</div>
		</div>		
		
		
		
		<div id="modal3" style="display: none;" class="modal-example-content">
			<button type="button" class="close" onclick="$.fn.custombox('close');">&times;</button>
			<div class="container">
				<div class="sixteen columns">
					<div class="services-wrap">  
						<div class="services-wrap-icon">
							<img src="images/ser8.png" alt=""/> 
						</div>		
					</div>
					<div id="HWW_title3_modal">
						<!--<h6>Responsive Design</h6>-->
					</div>
				</div>
				<div class="sixteen columns">
					<div class="modal-example-body">  
						<div id="how_we_work3">
	
						</div>
					</div>	
				</div>
			</div>
		</div>	
	

    
	
	
	
	<!-- JAVASCRIPT
    ================================================== -->
	<script type="text/javascript">

		const url1 = "/homepage_video/getdata";

		fetch(url1)
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {
				
				jQuery(function(){
					$('#homepage_video').append("<a id='P2' class='player'" + " data-property='{videoURL:" + '"' + data[0].video_link + '"' + ",containment:" + '"' + "#home" + '"' + ",autoPlay:true, mute:true, startAt:0, loop:true, opacity:1}'></a>");

					jQuery(".player").mb_YTPlayer();
				});
				//console.log("<a id='P2' class='player'" + " data-property='{videoURL:" + '"' + "https://www.youtube.com/watch?v=2UizPYNGEE8" + '"' + ",containment:" + '"' + "#home" + '"' + ",autoPlay:true, mute:true, startAt:4, loop:true, opacity:1}'></a>")
			})
			.catch(function (err) {
				console.log('error: ' + err);
			});
	</script>


<script type="text/javascript">

		const url3 = "/project/getdata";

		fetch(url3)
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {

				//var mainContainer = document.getElementById("all-works");

				var project_id;
				var project_category;
				
				for(var i=0; i< data.length; i++){
						project_id = data[i].project_id;
						project_category = data[i].project_category;

						//$('#all-works').append(
						//	'<div class="one-third column one-work photography web-design">' +
						//		'<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">' +
						//			'<div class="work-text"><h6>' + data[i].project_title + '</h6></div>' +
						//			'<img src="https://designbeestudio.in/' + project_id + '_picture.jpg" alt=""/>' +
						//		'</a>'	+
						//	'</div>');


						/*
						if(project_category == 'photography'){
							var div = document.createElement("div");
                            div.innerHTML = '<div class="one-third column one-work photography web-design">' +
						   						'<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">' +
						   							'<div class="work-text"><h6>' + data[i].project_title + '</h6></div>' +
						   							'<img src="https://designbeestudio.in/' + project_id + '_picture.jpg" alt=""/>' +
						   						'</a>'	+
						   					'</div>';
                            mainContainer.appendChild(div);
						} else{
							var div = document.createElement("div");
                            div.innerHTML = '<div class="one-third column one-work illustration web-design">' +
						   						'<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">' +
						   							'<div class="work-text"><h6>' + data[i].project_title + '</h6></div>' +
						   							'<img src="https://designbeestudio.in/' + project_id + '_picture.jpg" alt=""/>' +
						   						'</a>'	+
						   					'</div>';
                            mainContainer.appendChild(div);
						}*/

						

						if(data[i].project_category == 'photography'){
							$('#work' + i ).append(
							'<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">' +
								'<div class="work-text"><h6>' + data[i].project_title + '</h6></div>' +
								'<img src="https://designbeestudio.in/' + project_id + '_picture.jpg" alt=""/>' +
							'</a>').addClass('column photography');
						}else{
							$('#work' + i ).append(
							'<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">' +
								'<div class="work-text"><h6>' + data[i].project_title + '</h6></div>' +
								'<img src="https://designbeestudio.in/' + project_id + '_picture.jpg" alt=""/>' +
							'</a>').addClass('column illustration');
						}
				};

				//console.log('<a class="iframe group1"  href="/project?project_id=' + project_id + '"' + ' title="">')
			})
			.catch(function (err) {
				console.log('error: ' + err);
			});
		
	</script>


<script type="text/javascript">

	const url4 = "/aboutus/getdata";

	fetch(url4)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			
					$('#aboutus').append(data[0].aboutus);
			
		})
		.catch(function (err) {
			console.log('error: ' + err);
		});
</script>


	<script>

		const url2 = "/home-text/getdata";

		fetch(url2)
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {

				var title1, title2_1, title2_2, title3_1, title3_2, title4_1, title4_2;
				title1 = data[0].title1
				title2_1 = data[0].title2_1
				title2_2 = data[0].title2_2
				title3_1 = data[0].title3_1
				title3_2 = data[0].title3_2
				title4_1 = data[0].title4_1
				title4_2 = data[0].title4_2

						//$('#home-text').append(
						//	'<p><span>' + title1 + '</span></p>' +
						//	'<div class="rotator">' +
						//		'<div><h1>' + title2_1 + ' <span>' + title2_2 + '</span></h1></div>' +
						//		'<div><h1>' + title3_1 + ' <span>' + title3_2 + '</span></h1></div>' +
						//		'<div><h1>' + title4_1 + ' <span>' + title4_2 + '</span></h1></div>' +
						//	'</div>' +
						//	'<div class="link-home"><div class="cl-effect-14"><a href="#services" class="scroll">HOW WE WORK ?</a></div></div>').delay("slow").fadeIn();

							//var mainContainer = document.getElementById("home-text");
							//var div = document.createElement("div");
                            //div.innerHTML = '<p><span>' + title1 + '</span></p>' +
							//				'<div class="rotator">' +
							//					'<div><h1>' + title2_1 + ' <span>' + title2_2 + '</span></h1></div>' +
							//					'<div><h1>' + title3_1 + ' <span>' + title3_2 + '</span></h1></div>' +
							//					'<div><h1>' + title4_1 + ' <span>' + title4_2 + '</span></h1></div>' +
							//				'</div>';
							//				//'<div class="link-home"><div class="cl-effect-14"><a href="#services" class="scroll">HOW WE WORK ?</a></div></div>';
                            //mainContainer.appendChild(div);


							$('#home-text-top').append(
								'<p><span>' + title1 + '</span></p>');

								$('#home-text1').append(
								'<h1>' + title2_1 + ' <span>' + title2_2 + '</span></h1>');

								$('#home-text2').append(
								'<h1>' + title3_1 + ' <span>' + title3_2 + '</span></h1>');

								$('#home-text3').append(
								'<h1>' + title4_1 + ' <span>' + title4_2 + '</span></h1>');

								//'<div class="rotator">' +
								//	'<div><h1>' + title2_1 + ' <span>' + title2_2 + '</span></h1></div>' +
								//	'<div><h1>' + title3_1 + ' <span>' + title3_2 + '</span></h1></div>' +
								//	'<div><h1>' + title4_1 + ' <span>' + title4_2 + '</span></h1></div>' +
								//'</div>' +
								//'<div class="link-home"><div class="cl-effect-14"><a href="#services" class="scroll">HOW WE WORK ?</a></div></div>').delay("slow").fadeIn();

							
			})
			.catch(function (err) {
				console.log('error: ' + err);
			});
	</script>


	

	<script type="text/javascript">
		const url14 = "/contact-details/getdata";

		fetch(url14)
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {

				var address, contact1, contact2, email;
				address = data[0].address
				contact1 = data[0].contact1
				contact2 = data[0].contact2
				email = data[0].email

				$('#address-text').append(
					'<p>' + address + '</p>');

				$('#contact-text').append(
					'<p>' + contact1 + '</p>'+
					'<p>' + contact2 + '</p>');

				$('#email-text').append(
					'<p>' + email + '</p>');
			
			})
			.catch(function (err) {
				console.log('error: ' + err);
			});
	</script>


<script type="text/javascript">
	const url15 = "/work/getdata";

	fetch(url15)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {

			

			$('#HWW_title').append('<H6>' + data[0].title + '</H6>');
			$('#HWW_title1').append('<H6>' + data[1].title + '</H6>');
			$('#HWW_title2').append('<H6>' + data[2].title + '</H6>');
			$('#HWW_title3').append('<H6>' + data[3].title + '</H6>');

			$('#how_we_work').append(''+ data[0].work_details +'');
			$('#how_we_work1').append(''+ data[1].work_details +'');
			$('#how_we_work2').append(''+ data[2].work_details +'');
			$('#how_we_work3').append(''+ data[3].work_details +'');
		

			
			
		
		})
		.catch(function (err) {
			console.log('error: ' + err);
		});
</script>
<script>
	const url16 = "/work/getdata";

	fetch(url16)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {

			

			$('#HWW_title_modal').append('<h3><br>' + data[0].title + '</h3>');
			$('#HWW_title1_modal').append('<h3><br>' + data[1].title + '</h3>');
			$('#HWW_title2_modal').append('<h3><br>' + data[2].title + '</h3>');
			$('#HWW_title3_modal').append('<h3><br>' + data[3].title + '</h3>');

			/*$('#how_we_work').append(data[0].work_details);
			$('#how_we_work1').append(data[1].work_details);
			$('#how_we_work2').append(data[2].work_details);
			$('#how_we_work3').append(data[3].work_details);*/
		
		})
		.catch(function (err) {
			console.log('error: ' + err);
		});
</script>


<script type="text/javascript">
	const url20 = "/review/getdata";

	fetch(url20)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {

			for(var i=0; i< data.length; i++){
				
				$('#review' + i ).append(
				/*$('#review-details').append(
				'<li><div class="test"><div class="icon-test">&#xf10e;</div><h3>' + data[i].review + '</h3>'+
				'<h3><p><span>' + data[i].name + '</p></span></p></h3></div></li>');*/
				'<div class="test"><div class="icon-test">&#xf10e;</div>' + data[i].review + ''+
				'<h3><p><span>' + data[i].name + '</p></span></p></h3></div>');
			}
		
			$(document).ready(function(){
				$('.slider3').bxSlider({
					adaptiveHeight: true,
					touchEnabled: true,
					pager: false,
					controls: false,
					auto: true,
					slideMargin: 0,
				});
			});	
		})
			
		.catch(function (err) {
			console.log('error: ' + err);
		});
</script>


<script type="text/javascript" src="js/styleswitcher.js"></script>
<script type="text/javascript" src="js/pace.js"></script>
<!--<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>-->
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.slimmenu.js"></script> 
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="js/jquery.custombox.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 		
<script type="text/javascript" src="js/gmaps.js"></script>-->
<script type="text/javascript" src="js/contact.js"></script>
<script type="text/javascript" src="js/template.js"></script>  	  
<!-- End Document
================================================== -->
</body>
</html>