<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <title> Design Bee Studio</title>
              <link rel="icon" href="logo.png" type="image/gif" sizes="16x16">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="./public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="./public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="./public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="./public/css/app.css"
              rel="stylesheet">

              <!-- jQuery -->
        <script src="./public/vendor/jquery.min.js"></script>

        <!--For Text Editor-->
        <script src="./public/ckeditor/ckeditor.js"></script>
        


        <!--<script>
            tinymce.init({
              selector: 'textarea',
              plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
              toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
              toolbar_mode: 'floating',
              tinycomments_mode: 'embedded',
              tinycomments_author: 'Author name',
           });
        </script>-->

        <script>
            const url1 = "/review/getdata";

            fetch(url1)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                
                    for(var i=0; i<data.length; i++){
                    
                            $('#tbody').append(
                                '<tr>' +
                                    '<td scope="col">' + data[i].id +'</td>' +
                                    '<td scope="col">' + data[i].name + '</td>' +
                                    '<td scope="col">' + data[i].review + '</td>' +
                                '</tr>'
                            );
                    }
                
                    //console.log("<a id='P2' class='player'" + " data-property='{videoURL:" + '"' + "https://www.youtube.com/watch?v=2UizPYNGEE8" + '"' + ",containment:" + '"' + "#home" + '"' + ",autoPlay:true, mute:true, startAt:4, loop:true, opacity:1}'></a>")
                })
                .catch(function (err) {
                    console.log('error: ' + err);
                });
        </script>


    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">

                    <!-- Navbar -->

                    <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
                         id="default-navbar"
                         data-primary>

                        <!-- Navbar Toggler -->

                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                                type="button"
                                data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <!-- // END Navbar Toggler -->

                        <!-- Navbar Brand -->

                        <a href="/home"
                           class="navbar-brand mr-16pt">

                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                                <span class="avatar-title rounded"><img src="logo.jpg"
                                    alt="logo"
                                    class="img-fluid" /></span>

                            </span>

                            <span class="d-none d-lg-block">Welcome Admin</span>
                        </a>

                        <!-- // END Navbar Brand -->

                        
                        

                        <!-- Navbar Search -->

                        

                        <!-- // END Navbar Search -->

                        <div class="flex"></div>

                        <!-- Navbar Menu -->

                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                            <!-- Notifications dropdown -->
                            
                            <!-- // END Notifications dropdown -->

                            <!-- Notifications dropdown -->
                            
                            <!-- // END Notifications dropdown -->

                            <div class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link d-flex align-items-center dropdown-toggle"
                                   data-toggle="dropdown"
                                   data-caret="false">

                                    <span class="avatar avatar-sm mr-8pt2">

                                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                    </span>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header"><strong>Account</strong></div>
                                    <!--<a class="dropdown-item"
                                       href="/edit-account">Edit Account</a>-->
                                    <a class="dropdown-item"
                                       href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- // END Navbar Menu -->

                    </div>

                    <!-- // END Navbar -->

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">
                <div class="clearfix"></div>
            <div class="content-wrapper">
                <div class="container-fluid softnic-container-fluid">
                    <!-- Breadcrumb-->
                    <div class="row pt-2 pb-2">
                        <div class="col-sm-9">
                            <h4 class="page-title">Review</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="javaScript:void();">Review</a></li>
                            </ol>
                        </div>
                        
                    </div>
                    <!-- End Breadcrumb-->
                    <div class="row">
                        
                        <!--<div class="col-lg-6">
                            <button class="card border-1 border-left-3 border-left-accent text-center mb-lg-0" data-toggle="modal" data-target="#video">
                                <div class="card-body">
                                    <h4 class="mb-0"><i class="fa fa-plus"></i> Add Your Template Video Link</h4>   
                                </div>
                            </button>
                        </div>-->
                        <div class="col-lg-6">
                            <button class="card border-1 border-left-3 border-left-accent text-center mb-lg-0" data-toggle="modal" data-target="#project">
                                <div class="card-body">
                                    <h4 class="mb-0"><i class="fa fa-plus"></i> Add a Review</h4>   
                                </div>
                            </button>
                        </div>
                        
                    </div>
                    <br>
                    <br>
                    <table class="table table-flush table-nowrap table-light table-striped shadow-light" id="project_det" style="text-align: center;">
                        <thead>
                            <tr>                                
                                <th scope="col">Sl. No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Review</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <!--<td scope="col">Demo Project ID</td>
                            <td scope="col"><a href="#" style="color: blue;" data-toggle="modal" data-target="#project_details">Demo Project Title</a></td>
                            <td scope="col">
                                <button type="button" onclick="remove_project()" class="btn btn-outline-danger btn-sm waves-effect waves-light m-1"><i class="fa fa-trash mr-1"></i> Delete</button>
                            </td>-->
                        </tbody>
                    </table>

                </div>
                <!-- End container-fluid-->
                <div class="overlay"></div>    
            </div>
            <!--End Header Layout Content-->
                

    <!--End Back To Top Button-->
            <!-- // END Header Layout Content -->

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="maze.jpeg"
                             width="150"
                             alt="mazesoftsolution">
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">We have reached an age where the entire world is reduced to a global village. In this realm of connected living and sharing, we envision a future that will redefine the very purpose of our existence. Today, the solutions are more refined than the demand itself. What we get is better than what we asked for. Businesses, big or small, look for companies that will refine their business needs, more than offering a ready solution. They look for companies that offer competitive web and mobile apps development, e-commerce, and Open-source CMS development to propel their business expansion.</p>
                    <p class="text-50 small mt-n1 mb-0">Developed by <a href="http://www.mazesoftsolutions.com/">Maze Soft Solution</a></p>
                </div>
            </div>

            <!-- // END Footer -->

        </div>
        <!-- // END Header Layout -->
</div>


        <!--Modal Data Start-->
        <!--<div class="modal fade" id="video" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Your Template Video Link</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/video/add" method="post">
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Add Your video Link">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="sid" value="370">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <button type="submit" name="addvideo" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp;&nbsp; Add</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>-->


        <div class="modal fade" id="project" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Your Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/review/add" method="post">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="input-21" class="col-sm-2 col-form-label">Name <b style="color: red;">*</b></label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input name="name" class="form-control" placeholder="Name" required="" maxlength="300">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Add Your Review Details</label>
                                        <div class="form-group">
                                            <textarea name="review" id="editor2" rows="3" cols="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="sid" value="370">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <button type="submit" name="addvideo" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp;&nbsp; Add</button>
                        </div>
                    </form>
                    <script type="text/javascript">
                        function validateFileType(){
                            var fileName = document.getElementById("projectPhotoId").value;
                            var idxDot = fileName.lastIndexOf(".") + 1;
                            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                            if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
                                //TO DO
                            }else{
                                alert("Only .jpg, .jpeg and .png files are allowed!");
                            }   
                        }
                    </script>
                    <script>
                        // Replace the <textarea> with a CKEditor
                        CKEDITOR.replace('editor1');
                    </script>
                    <script>
                        // Replace the <textarea> with a CKEditor
                        CKEDITOR.replace('editor2');
                    </script>
                    
                </div>
            </div>
        </div>


        <div class="modal fade" id="project_details" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">UPDATE YOUR PROJECT</h5>
                        
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <form id="content" action="" method="post">
                            <div class="modal-body">
                                <br><br>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">Project ID:</label>
                                            <div class="form-group">
                                                <input type="text" id="project_id" name="project_id" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">Content:</label>
                                            <div class="form-group">
                                                <textarea name="project_details" id="editor5" rows="3" cols="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    // Replace the <textarea> with a CKEditor
                                    CKEDITOR.replace('editor5');
                                    
                                    //$("textarea#editor5").val("enichn");
                                </script>
                            </div>
                            <input type="hidden" name="sid" value="370">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                <button type="submit" name="addvideo" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp;&nbsp; Add</button>
                            </div>
                        </form>
                    </div>
                    <input type="hidden" name="sid" value="370">
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>-->
                </div>
            </div>
        </div>
        <!--Modal Data End-->

        <!--Drawer Start-->

        <div class="mdk-drawer js-mdk-drawer"
        id="default-drawer">
       <div class="mdk-drawer__content">
           <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left"
                data-perfect-scrollbar>

               <!-- Sidebar Content -->

               <a href="/home"
                  class="sidebar-brand ">
                   <!-- <img class="sidebar-brand-icon" src="./public/images/illustration/student/128/white.svg" alt="Luma"> -->

                   <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                       <span class="avatar-title rounded"><img src="logo.jpg"
                           alt="logo"
                           class="img-fluid" /></span>

                   </span>

                   <span>Welcome Admin</span>
               </a>

               
                   
               <ul class="sidebar-menu">

                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/home_page_section">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                           <span class="sidebar-menu-text">Home Page Section</span>
                       </a>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/portfolio">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                           <span class="sidebar-menu-text">My Portfolio</span>
                       </a>
                   </li>
                   
                   <!--<li class="sidebar-menu-item">
                       <a class="sidebar-menu-button js-sidebar-collapse"
                          data-toggle="collapse"
                          href="#enterprise_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                           Clients
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="enterprise_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/client">
                                   <span class="sidebar-menu-text">Client</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_client">
                                   <span class="sidebar-menu-text">Add Client</span>
                               </a>
                           </li>
                       </ul>
                   </li>-->
                   <!--<li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          data-toggle="collapse"
                          href="#account_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                           Quatation
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="account_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/quatation">
                                   <span class="sidebar-menu-text">Quatation</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_quatation">
                                   <span class="sidebar-menu-text">Create Quatation</span>
                               </a>
                           </li>
                       </ul>
                   </li>-->
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/work">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">trending_up</span>
                           <span class="sidebar-menu-text">Our Work</span>
                       </a>
                   </li>
                   <!--<li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          data-toggle="collapse"
                          href="#ecommerce_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">shopping_cart</span>
                           Finance
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="ecommerce_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/finance">
                                   <span class="sidebar-menu-text">Finance</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_finance">
                                   <span class="sidebar-menu-text">Add Expenses</span>
                               </a>
                           </li>
                       </ul>
                   </li>-->

                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/aboutus">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                           <span class="sidebar-menu-text">About Us</span>
                       </a>
                   </li>
                   <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/blog">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                            <span class="sidebar-menu-text">Blog</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/review">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">star</span>
                            <span class="sidebar-menu-text">Review</span>
                        </a>
                    </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/contact">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">phone</span>
                           <span class="sidebar-menu-text">Contact</span>
                       </a>
                   </li>
               </ul>
               

               <!-- // END Sidebar Content -->

           </div>
       </div>
   </div>
   <!-- // END Drawer -->

        

        <!-- Bootstrap -->
        <script src="./public/vendor/popper.min.js"></script>
        <script src="./public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="./public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="./public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="./public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="./public/js/app.js"></script>

        <!-- Preloader -->
        <script src="./public/js/preloader.js"></script>

    </body>

</html>